<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="css/signup.css" rel="stylesheet" />
<body>
<div class="container">
    <div class="col-md-6 mx-auto text-center">
        <div class="header-title">
            <h1 class="wv-heading--title">
                회원가입이 필요합니다!
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="myform form ">
                <form action="/members/new" method="post">
                    <div class="form-group">
                        <input type="text" name="id"  class="form-control my-input" id="id" placeholder="ID">
                    </div>
                    <div class="form-group">
                        <input type="text" name="pw"  class="form-control my-input" id="pw" placeholder="PASSWORD">
                    </div>
                    <div class="form-group">
                        <input type="text" name="name" id="name"  class="form-control my-input" placeholder="NICKNAME">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email"  class="form-control my-input" id="email" placeholder="EMAIL">
                    </div>
                    <div class="text-center ">
                        <input type="submit" class=" btn btn-block send-button tx-tfm">회원가입</input>
                    </div>
                    <div class="col-md-12 ">
                        <div class="login-or">
                            <hr class="hr-or">
                            <span class="span-or">or</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-block g-button" href="#">
                            <i class="fa fa-google"></i> Sign up with Google
                        </a>
                    </div>
                    <p class="small mt-3">  사이트는 많은 개인정보를 요구하지 않습니다. 모든 권한은 무료로 제공되며, 비밀번호 분실 시를 대비한 이메일 정보만 수집합니다.
                        제공해주신 이메일 정보 또한 별도로 활용하지 않습니다.<a href="#" class="ps-hero__content__link"></a>.
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>